.App {
  /* text-align: center; */
  background-color: lightgrey;
  height: 780px;
}

.App-header {
  margin-top: 50px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.detailsContainer{
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 10px;
  height: 680px;
}

.App-link {
  color: #61dafb;
}

